@import './style.css';


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  html,
  body {
    position: relative;
    height: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
  }


.content {
  padding-top: 2em;
  margin: 0 auto;
}
table {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
    width: 850px;
  }
  
  table td, table th {
    border: 1px solid #ddd;
    padding: 8px;
  }
  
  table tr:nth-child(even){background-color: #f2f2f2;}
  
  table tr:hover {background-color: #ddd;}
  
  table th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #2004aa;
    color: white;
  }

  button {
    background-color: #aa5404;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
  }

.winner {
  background-color: rgba(17, 92, 17, 0.517);
}

.scoreboard th {
  background-color: rgba(17, 92, 76, 0.517) ;
}