@import './style.css';


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  html,
  body {
    position: relative;
    height: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
  }

.box {
  position: absolute;
}

/*.center {
  top: 50%;
  left: 50%;
} */

.red {
  background-color: red;
}

.size200 {
  height: 200px;
  width: 200px;
}

.selected {
  outline: 3px solid black;
}

.dblClicked {
  width: 2px;
  height: 2px;
  transition: width 2s, height 2s;
}

.circle {
  border-radius: 50%;
}

.wide {
  clip-path: polygon(0% 0%, 100% 0%, 100% 50%, 0% 50%)
}