@import './style.css';

button {
    background-color: #1d961d;
    border: none;
    color: rgba(255, 255, 255, 0.708);
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 4px 2px;
    cursor: pointer;
    font-size: 30px;
}

.clicked {
    background-color: #fff;
}

.letters {
    display: inline-block;
    margin-right: 10px; /* Optional: Add some margin between the headers */
    text-align: center;
    text-decoration: underline #0a0000;
    color: #2f0303;
    padding: 20px 0;
}

.missedLetters {
    font-size: 40px;
}