


.circle {
width: 100px;
height: 100px;

border-radius: 50%;
}

.triangle {
width: 100px;
height: 100px;
border-left: 50px solid transparent;
border-right: 50px solid transparent;
border-bottom: 87px solid blue;
}

.rectangle {
width: 100px;
height: 50px;

}

.square {
width: 100px;
height: 100px;

}

.shape {
    margin: 10px;
    transition: transform 0.3s ease
}

.shape:hover {
    cursor: pointer;
    transform: scale(1.1)
}